
body {
    background-color: #F9F2ED;
    margin:0;
    min-height: auto;
    font-family: 'Montserrat', sans-serif;
}
.top-container {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 22%;
}
.tv {
    position: absolute;
    height: 70%;
    margin: 0;
    left: 34%;
    top: 17%;
}
.title {
    color: #3AB0FF;
    font-size: 300%;
    position: relative;
    margin-top: 0;
    margin-right: 4%;
    font-family: 'Satisfy', cursive;
}
.subtitle {
    color: #F87474;
    position: relative;
    margin-right: 4%;
}
.containers {
    padding-top: 20%;
    padding-bottom: 5%;
    text-align: center;
}
.profpict {
    width: 20%;
    margin: auto;
}
.title1 {
    color: #FFB562;
    font-size: 250%;
    margin-bottom: 5%;
    font-family: 'Satisfy', cursive;
}
.subtitle1 {
    color: #F87474;
}
.skillpict {
    width: 20%;
    margin-left: 25%;
    float: left;
    margin-bottom: 5%;
}
.subtitle2 {
    color: #3AB0FF;
    width: 30%;
    position: relative;
    margin-left: 50%;
}
.skilltext {
    color: #F87474;
    width: 30%;
    position: relative;
    margin-left: 50%;
    text-align: left;
}
.skillpict1 {
    width: 20%;
    float: right;
    margin-right: 30%;
    margin-bottom: 5%;
}
.subtitle3 {
    color: #3AB0FF;
    position: relative;
    margin-left: 15%;
}
.skilltext1 {
    color: #F87474;
    width: 30%;
    position: relative;
    margin-left: 15%;
    text-align: right;
}

.bottom-container {
    background-color: #3AB0FF;
    padding-top: 2%;
    padding-bottom: 1%;
    text-align: center;
}
.footer-link {
    margin: auto 2%;
}
.copyright {
    font-size: small;
    color: white;
}